.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #50555C;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #fff;
  }

  .tab button:hover {
    background-color: #2274A5;
  }

  .tab button.active {
    background-color: #2274A5;
  }